<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="container text-center">
    <!-- ROW ONE -->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="jumbotron display-2 font-weight-bold">Mission to Mars<br>

          <button type="button" class="btn btn-primary btn-lg">Scrape New Data</button>
        </h3>
      </div>
    </div>
    <!-- ROW TWO -->
    <div class="row">
      <div class=col-lg-12>
        <h4 class=text-left>Latest Mars News</h4>
        <h5 class=text-left>{{ mars_data.news_title }}</h5>
        <p class=text-left>{{ mars_data.news_text }}</p>
      </div>
    </div>
    <!-- ROW 3 -->
    <div class="row">
      <div class="col-lg-8">
        <h4 class=text-left>Featured Mars Image</h4>
        <img scr={{ mars_data.large_img_link }}>
      </div>
      <div class="col-lg-4"> 
        <h5 class=text-left> Mars Facts</h5>
      </div>
    </div>
  </div>
  </div>


</body>

</html>