<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Mars Links and Data</h1>

    <!-- Create an unordered list (ul) and insert "li" elements for the provided dictionary keys. -->
    <ul>
      <li>{{mars_data.news_title}}</li>
      <li>{{mars_data.news_text}}</li>
      <li>{{mars_data.large_img_link}}</li>
      <li>{{mars_data.hemi_urls}}</li>
      <li>{{mars_data.hemi_urls[1]}}</li>
      

    </ul>

  </div>
</body>

</html>