<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="container text-center">
    <!-- ROW ONE -->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="jumbotron display-2 font-weight-bold">Mission to Mars<br>

          <a href="/scrape"><button type="button" class="btn btn-primary btn-lg">Scrape New Data</button>
          </a>
        </h3>
      </div>
    </div>
    <!-- ROW TWO -->
    <div class="row">
      <div class=col-lg-12>
        <h4 class=text-left>Latest Mars News</h4>
        <h5 class=text-left>{{ mars_data.news_title }}</h5>
        <p class=text-left>{{ mars_data.news_text }}</p>
      </div>
    </div>
    <!-- ROW 3 -->
    <div class="row">
      <div class="col-lg-8">
        <h4 class=text-left>Featured Mars Image</h4>
        <img src= {{ mars_data.large_img_link }} class="img-fluid mx-auto">
      </div>
      <div class="col-lg-4">
        <h5 class=text-left> Mars Facts</h5>
        {{ mars_data.mars_facts|safe }}
      </div>
    </div>
    <div class="mars_pic_box">
      <br><h5 class="text-center">Mars Hemispheres</h5>
      <!-- ROW 4 -->
      <div class="row">
        {% for url in mars_data["hemi_urls"] %}
        <div class="col-md-6">
          <img src={{ url.img_url }} alt="Valles Marineris.png" class="img-fluid mx-auto">
          <h5 class="text-center">{{ url.title}}</h5>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  </div>


</body>

</html>